---
modified:
  class: about
---
{{> header}}

<div class="about-wrap">
  <h1>404 - Page not found</h1>
  <p>Sorry, whatever you're looking for isn't here. The URL may have changed, or the page may no longer exist.</p>
</div>

{{> footer}}