---
modified:
  title: About
  class: about
---
{{> header}}

{{#about}}
<div class="hero">
  <img src="img/ct-hero-02.jpg" alt="Photo of Charlie" class="desktop">
  <img src="img/ct-hero-02-640.jpg" alt="Photo of Charlie" class="mobile">
</div>
<div class="about-wrap">
  <h1>About Charlie</h1>
  <p class="intro">My name is Charlie and I'm a Software Engineer and Artist living in Chicago, Illinois. I love auto racing, movies, traveling, <a href="/birds/">birds</a>, pizza, my wife <a target="_blank" href="http://twitter.com/Amanda_bee">Amanda</a>, and our cat Baxter. I also enjoy taking photos, playing guitar and piano, jogging, and tinkering with JavaScript. This website features some of my best <a href="/gallery.html?filter=art">paintings</a>, <a href="/gallery.html?filter=photos">photography</a>, and <a href="/code/">web development</a> samples.</p>
  <h2>Some fun facts about me:</h2>
  <ul>
    <li>I met my wife, Amanda, at the 2009 Sundance Film Festival in Park City, Utah. We returned to the festival again in 2010, 2011, and 2015. We got engaged while at the <a href="/gallery/sundance-mainst.html">2015 festival</a>.</li>
    <li>I am a Catholic, and member at <a href="http://www.oldstpats.org/" target="_blank" rel="nofollow">Old St. Pat's</a>, which is where my wife and I were married in 2016.</li>
    <li>I'm a fan of the <a href="/gallery/woodbrothers21.html">Wood Brothers Racing</a> NASCAR team, Penske IndyCar team, and <a href="/gallery/schumi-monaco.html">Scuderia Ferrari</a> F1 team.</li>
    <li>I enjoy sci-fi and fantasy novels, especially J.R.R. Tolkien's <em>The Lord of the Rings</em>.</li>
    <li>My favorite places in the world are <a href="/gallery/venezia.html">Venice, Italy</a> and <a href="/gallery/ei-sunset.html">Emerald Isle, North Carolina</a>.</li>
  </ul>
  <h2>About this website</h2>
  <p>The content on this site is all static HTML, built using <a href="http://handlebarsjs.com/" target="_blank" rel="nofollow">Handlebars</a>, <a href="https://github.com/assemble/assemble/" target="_blank" rel="nofollow">Assemble</a>, <a href="http://gruntjs.com/" target="_blank" rel="nofollow">Grunt</a>, and <a href="http://sass-lang.com/" target="_blank" rel="nofollow">Sass</a>. The JavaScript is all plain, vanilla JavaScript (except in certain code demos). The main site is hosted with <a href="https://pages.github.com/" target="_blank" rel="nofollow">Github Pages</a>. If you want to see more of how the site is built, feel free to <a href="https://github.com/charliefusion/charliefusion-dev" target="_blank" rel="nofollow">view the source code for this website</a>.</p>
  <h2 id="contact-charlie">Social Media</h2>
  <ul>
    <li><a href="http://instagram.com/charliefusion" target="_blank" rel="nofollow">Instagram</a> - photography</li>
    <li><a href="http://letterboxd.com/CharlieT" target="_blank" rel="nofollow">Letterboxd</a> - movie reviews</li>
    <li><a href="http://twitter.com/charliefusion12" target="_blank" rel="nofollow">Twitter</a> - random stuff</li>
    <li><a href="https://www.linkedin.com/in/charliefusion" target="_blank" rel="nofollow">LinkedIn</a> - résumé</li>
    <li><a href="https://github.com/charliefusion" target="_blank" rel="nofollow">GitHub</a> - code</li>
  </ul>
</div>
{{/about}}

{{> footer}}