---
modified:
  title: Gallery
  class: gallery
---
{{> header}}

{{#gallery}}
<h1>{{page-name}}</h1>
{{> filters}}
<a href="/birds" class="birds-link" data-filters="art birds chicagoland landscapes water album">
  <img src="../img/birds/thumbs/songbirds.jpg" alt="songbirds painting">
  <div class="info">
    <h2 class="title">Birds of Chicagoland</h2>
    <p class="subtitle">A Book of Paintings</p>
  </div>
</a>
{{> grid}}
{{/gallery}}

{{> footer}}