---
modified:
  class: index
---
{{> header}}

{{#index}}
<div class="hero">
  <img src="img/ct-hero-03.jpg" alt="Photo of Charlie and Amanda Thomason in Venice" class="desktop">
  <img src="img/ct-hero-03-640.jpg" alt="Photo of Charlie and Amanda Thomason in Venice" class="mobile">
  <p class="home-intro">Charlie Thomason is a Software Engineer and Artist living in Chicago, Illinois. He loves movies, auto racing, and traveling. This website features some of his best paintings, photos, and web development samples.</p>
</div>
{{> featured-row}}
{{/index}}

{{> footer}}