<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>
		{{#if modified.title}}
			{{modified.title}} - Charlie Thomason
		{{else}}
			Charlie Thomason - Artist &amp; Software Engineer from Chicago
		{{/if}}
	</title>
	<link rel="icon" href="/img/favicon.ico">
 	{{#is modified.class 'birds'}}
 	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald|Cormorant+Garamond:400,700">
 	{{else}}
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald">
  	{{/is}}
	<link rel="stylesheet" href="/css/main.css">
</head>
<body{{#is modified.class 'birds'}} class="birds-wrap"{{/is}}>

	{{> body}}

  <script src="/js/main.js"></script>

</body>
</html>